@import 'tailwindcss';

* {
  font-family: var(--font-family-base);
}

@plugin 'tailwind-scrollbar';

@theme {
  /* blue */
  --color-blue-base: #2c46b1;
  --color-blue-dark: #2c4091;

  /* gray scale */
  --color-white: #ffffff;
  --color-gray-100: #f9f9fb;
  --color-gray-200: #e4e6ec;
  --color-gray-300: #cdcfd5;
  --color-gray-400: #74798b;
  --color-gray-500: #4d505c;
  --color-gray-600: #1f2025;

  /* feedback */
  --color-danger: #b12c4d;

  /* font family */
  --font-family-base: 'Open Sans', sans-serif;

  /* text sizes */
  --text-xl: 1.5rem;
  --text-xl--line-height: 2rem;
  --text-xl--font-weight: bold;

  --text-lg: 1.125rem;
  --text-lg--line-height: 1.5rem;
  --text-lg--font-weight: bold;

  --text-lg: 0.875rem;
  --text-md--line-height: 1.125rem;
  --text-md--font-weight: semibold;

  --text-sm: 0.75rem;
  --text-sm--line-height: 1rem;
  --text-sm--font-weight: normal;

  --text-xs: 0.625rem;
  --text-xs--line-height: 0.875rem;
  --text-xs--font-weight: normal;
}
